<!-- classview/new_product.html -->
{% extends 'index.html' %}

{% block menu %}
<h3>상품 추가</h3>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}

  <!-- (div>label+input)*3 -->
  <div>
    <label for="name">상품명:</label>
    <input type="text" id="name" name="name" required />
  </div>

  <div>
    <label for="price">가격: </label>
    <input type="number" id="price" name="price" min="0" required />
  </div>

  <div>
    <label for="stock">재고: </label>
    <input type="number" id="stock" name="stock" min="0" value="10" required/>
  </div>
  <!-- div>label+textarea -->
  <div>
    <label for="desc">설명: </label>
    <textarea name="desc" id="desc" row="20"></textarea>
  </div>

  <input type="submit" value="추가" />
  <input type="reset" value="초기화" />
</form>
{% endblock %}